.form{
    padding: 30px 30px;
    font-size: 25px;
}
.formm input{
    padding: 10px 0px;
    padding-right: 120px;
    margin: 10px 10px;
    font-size: 25px;
    text-align: left;
    background-color: transparent;
    border-radius: 10px;
    
}
.form button{
    padding: 10px 35px;
    margin: 10px 10px;
    border-radius: 10px;
}
.title h1{
    text-decoration: underline;
    padding: 10px 0px   ;
    margin: 10px 0px;
}
.adduser{
    box-shadow: 8px 8px 8px 8px black;
    margin:120px 500px;
} 
.form button:hover{
    background-color: rgba(128, 128, 128, 0.496)
}
.adduser:hover{
    background-color: rgba(236, 231, 130, 0.319);
}